anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
conda==4.10.1
conda-build==3.20.5
conda-package-handling 
conda-verify==3.4.2
FastNLP==0.6.0
gensim==3.8.3
jsonlines==2.0.0
nltk==3.5
numpy==1.19.2
orderedset==2.0.3
rouge==1.0.0
rouge-score==0.0.4
scikit-image==0.17.2
scipy==1.6.3
snowballstemmer==2.0.0




